.FormTag{
    border: 2px solid green;
    width: 400px;
    margin-top: 20px;
}

.QuestionLine{
    border: 2px solid blue;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}